.footer {
    max-height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #3F2067;
    margin: 120px 0 0;
}

.footer_list {
    display: flex;
    gap: 30px;
}

.footer_link {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin: 40px 0;
    text-decoration: none;
}